<!-- app/views/admin/ingredient_dictionaries/edit.html.erb -->
<div class="max-w-2xl mx-auto">
  <h1 class="text-4xl font-bold uppercase mb-8 border-b-4 border-black pb-2">
    Modifier l'Ingrédient
  </h1>
  
  <%= render 'form', ingredient: @ingredient %>
</div>

